body {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}

button, input {
	font-size: 20px;
}

#status {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #E08E79;
	padding: 10px;
	font-size: 18px;
	color: #FFF;
}

ol li {
	visibility: hidden;
}

ul {
	list-style: none;
}

.symbol {
	color: #0EBFE9;
}